

<div class="example-wrapper">
   
        <img src="https://www.crossfitdaemon.fr/assets/img/logo/logo.png" />
        <h1>Ton message sur le site Crossfit Daemon</h1>
        <h2>Bonjour {{ name }} !</h2>

    <p>Nous avons bien pris en compte ton message et reviendrons vers toi dans les plus bref délais</p>
    <p>Voici les informations que tu as renseigné dans ton message</p>
    Ton email
    <ul>
        <li>{{ address }}</li>
    </ul>
    Ton message
    <ul>
        <li>{{ content }}</li>
    </ul>

    <p>Encore merci pour ta visite, nous espérons te voir très prochainement !</p>
    <p>Conformément à la réglementation du CNIL, tu peux demander à tout moment la supression de tes données personnelles, n'hésite pas à nous renvoyer un mail à cet effet à contact@crossfitdaemon.fr
     
    </p>
</div>

