

<div class="example-wrapper">
   
        <img src="https://www.crossfitdaemon.fr/assets/img/logo/logo.png" />
        <h1>Votre compte sur le site {{ nameExploit }}</h1>
        <h2>Bonjour {{ firstname }} {{ lastname }}</h2>
 
        <p>Votre compte administrateur a été créé sur le site {{ nameExploit }}</p>
        <p>Le mot de passe vous sera prochainement communiqué par mail, il sera à changer dans votre administration en ligne</p>    
    <p>Bien à vous</p>
    <p>L'administrateur du site</p>
</div>

